.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.image {
  flex: 1 1 40rem;
}

.image-about {
  width: 100%;
}

.content {
  flex: 1 1 40rem;
}

.button {
  margin-top: 1rem;
}
