<section class="about">
  <div class="image">
    <img src="assets/images/about-img.svg" alt="about" class="image-about">
  </div>
  <div class="content">
    <app-title level="2">A Cup Of Coffee Can Complete Your Day</app-title>
    <app-paragraph [size]="1.5">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Veniam Suscipit Sunt Repellendus, Dolorum Recusandae Placeat Quae. Iste Eaque Aspernatur, Animi Deleniti Voluptas, Sunt Molestias Eveniet Sint Consectetur Facere A Ex.</app-paragraph>
    <app-button class="button">Our Menu</app-button>
  </div>
</section>
